<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="intro-lead">There is contact info</h1>
      </div>
    </div>
  </div>
</div>
