<div class="fh5co-header text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="">Significant projects:</h1>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-portfolio">
  <% @projects.each do |project| %>
    <div class="fh5co-portfolio-item <%= cycle("", "fh5co-img-right" ) %>">
      <div class="fh5co-portfolio-figure animate-box" style="background-image: url("1.jpg");"></div>
      <div class="fh5co-portfolio-description">
        <h2><%= project.title %></h2>
        <p><%= project.description %></p>
        <p><a href="<%= project.link %>" class="btn btn-primary">Go to the webpage</a></p>
      </div>
    </div>
  <% end %>

</div>
