<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="fh5co-main">
        <div class="col-sm-4">
          asdfasdf
        </div>
        <div class="col-sm-8">
          ljksdflkjasdf
        </div>
      </div>
    </div>
  </div>
</div>