<div class="list-group">
  <%= link_to "Dashboard", admin_dashboard_path, class: "list-group-item #{active_link?(admin_dashboard_path)}" %>
  <%= link_to "Projects", admin_projects_path, class: "list-group-item #{active_link?(admin_projects_path)}" %>
</div>
