<div class="list-group">
  <%= link_to "Page content", admin_dashboard_path, class: (controller?("admin/dashboard") ? "active list-group-item" : "list-group-item") %>
  <%= link_to "Projects", admin_projects_path, class: (controller?("admin/projects") ? "active list-group-item" : "list-group-item") %>
  <%= link_to "Polls", admin_polls_path, class: (controller?("admin/polls") ? "active list-group-item" : "list-group-item") %>
  <%= link_to "Change Email and Password", admin_change_password_path, class: (controller?("admin/password") ? "active list-group-item" : "list-group-item") %>
</div>
