<footer id="fh5co-content">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
			  <p class="pull-left">WELCOME HERE!</p>
			  <p class="pull-right">This is right text.</p>
			</div>
		</div>
	</div>
</footer>