<div class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <hr>
        <p>&copy; <%= Date.today.year %> Smile Apps. All Rights Reserved. Created by <a href="https://www.linkedin.com/in/smirnov-konstantin-9ba95770">Smirnov Konstantin</a>. <a href="http://bootshape.com">Bootshape</a> template used.</p>
      </div>
    </div>
  </div>
</div>
