<div class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <hr>
        <p>&copy; 2014 Yacht Club. All Rights Reserved. Proudly created by <a href="http://bootshape.com">Bootshape.com</a></p>
      </div>
    </div>
  </div>
</div>
